
{% extends "layout.html" %}

{% block content %}

<div class="container" align="center">

  <h3>Тестовое задание</h3>

  </div>
<div class="container" >
<h6>
    Разработать веб-сервис, который сохраняет в БД показатели работы компьютера с интервалом 5 секунд.
    В качестве показателей использовать:</h6>
    <h6>- процент загрузки процессора</h6>
    <h6>- объем занятой оперативной памяти</h6>
  <h6>
    Сформировать страницу, которая выводит пользователю графики за последний час с мгновенными значениями показателей и
    усредненными за 5 минут показателями.
  </h6>
</div>
<div class="container" align="center">
  <a href="{{ url_for('values') }}"> РЕШЕНИЕ</a>
</div>


{% endblock %}